<table>
  <thead>
  <tr>
    <th>Name</th>
  </tr>
  </thead>
  <% location_meetings.meetings.where(["start_time > ?", DateTime.now]).sort_by{|t| t.start_time.to_i}.first(5).each do |l| %>
      <tr>
        <td><a href="/meetings/<%= l.attributes['id'] %>"><%= l.name %></a></td>
      </tr>
  <% end %>
</table>